#container{
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 768px;
    height: 578px;
    overflow: hidden;
}
header{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.row{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row-header1{
    background: #FFFFFF;
    background: linear-gradient(to left, #FFFFFF, #F1F1F1);
    background: -webkit-linear-gradient(to left, #FFFFFF, #F1F1F1);
    background: -o-linear-gradient(to left, #FFFFFF, #F1F1F1);
    height: 50px;
    align-content: center;
}
.logo-sura{
    display: flex;
    width: 73px;
    height: 100%;
    position: relative;
    margin-left: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/logo-sura.svg);
}
.titulo{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
}
.titulo h1{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 14px;
    font-weight: normal;
    color: #0033A0;
    text-align: right;
    line-height: normal;
}
.titulo h1 > span{
    font-family: 'Barlow-SemiBold';
    font-size: 
}
.row-header2{
    background: #0033A0;
    height: 23px;
    align-content: center;
}
.logo-arl{
    display: flex;
    width: 25px;
    height: 100%;
    position: relative;
    margin-left: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/logo-arl.svg);
}
#oficio-title{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
}
#oficio-title h2{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: right;
    line-height: normal;
}

#game{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    height: calc(100% - 73px);
    height: -moz-calc(100% - 73px);
    box-sizing: border-box;
}
        
#home-scene{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#personaje-home{
    position: absolute;
    display: block;
    width: 132px;
    height: 370px;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 25%;
    left: 5%;
}
.personaje-1{
    background-image: url(../images/personaje-v1.png);
}
.personaje-2{
    background-image: url(../images/personaje-v2.png);
}
.personaje-3{
    background-image: url(../images/personaje-v3.png);
}
.personaje-ojos{
    position: absolute;
    width: 35px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/ojos.png);
    top: 35px;
    left: 44px;
}
.personaje-ojos::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: animacion-ojos;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-ojos;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes animacion-ojos{
    0%{
        background-image: none;
    }
    2%{
        background-image: url(../images/parpados1.png);
    }
    4%{
        background-image: url(../images/parpados2.png);
    }
    6%{
        background-image: url(../images/parpados1.png);
    }
    8%{
        background-image: none;
    }
    100%{
        background-image: none;
    }
}

#game-scene{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.to-left{
    left: -190px !important;

    transition: left 1s;
    -webkit-transition: left 1s;
}
.to-left-2{
    left: 11% !important;

    transition: left 1s;
    -webkit-transition: left 1s;
}

#fondo-casilleros{
    position: absolute;
    width: 768px;
    height: 472px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/lockers-background.png);
    top: 5%;
    left: 0px;
}

#casilleros{
    position: absolute;
    box-sizing: border-box;
    width: 768px;
    height: 472px;
    top: 5%;
    left: 0px;
}
.locker{
    position: absolute;
    width: 88px;
    height: 95px;
    perspective: 1250px;
    -webkit-perspective: 1250px;
}
.locker-active{
    
}
.locker-inactive{
    
}
#casilleros .locker:nth-child(1){top:5px;left:11px;z-index: 20;}
#casilleros .locker:nth-child(2){top:5px;left:105px;width:91px;z-index: 19;}
#casilleros .locker:nth-child(3){top:103px;left:11px;z-index: 18;}
#casilleros .locker:nth-child(4){top:103px;left:105px;width:91px;z-index: 17;}
#casilleros .locker:nth-child(5){top:201px;left:11px;z-index: 16;}
#casilleros .locker:nth-child(6){top:201px;left:105px;width:91px;z-index: 15;}
#casilleros .locker:nth-child(7){top:301px;left:11px;z-index: 14;}
#casilleros .locker:nth-child(8){top:301px;left:105px;width:91px;z-index: 13;}
#casilleros .locker:nth-child(9){top:5px;left:471px;width:92px;z-index: 12;}
#casilleros .locker:nth-child(10){top:5px;left:568px;z-index: 11;}
#casilleros .locker:nth-child(11){top:5px;left:662px;z-index: 10;}
#casilleros .locker:nth-child(12){top:103px;left:471px;width:92px;z-index: 9;}
#casilleros .locker:nth-child(13){top:103px;left:568px;z-index: 8;}
#casilleros .locker:nth-child(14){top:103px;left:662px;z-index: 7;}
#casilleros .locker:nth-child(15){top:201px;left:471px;width:92px;z-index: 6;}
#casilleros .locker:nth-child(16){top:201px;left:568px;z-index: 5;}
#casilleros .locker:nth-child(17){top:201px;left:662px;z-index: 4;}
#casilleros .locker:nth-child(18){top:301px;left:471px;width:92px;z-index: 3;}
#casilleros .locker:nth-child(19){top:301px;left:568px;z-index: 2;}
#casilleros .locker:nth-child(20){top:301px;left:662px;z-index: 1;}

.locker-door{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/locker-door.svg);
    cursor: pointer;

    transform-origin: 100% center;
    -webkit-transform-origin: 100% center;
    -o-transform-origin: 100% center;
}
.locked-door-close{
    animation-name: cerrar-puerta;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: cerrar-puerta;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.locked-door-open{
    animation-name: abrir-puerta;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: abrir-puerta;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    transform: rotateY(110deg);
    -webkit-transform: rotateY(110deg);
    -o-transform: rotateY(110deg);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
}
@keyframes abrir-puerta{
    0%{
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }
    70%{
        transform: rotateY(117deg);
        -webkit-transform: rotateY(117deg);
        -o-transform: rotateY(117deg);
    }
    100%{
        transform: rotateY(110deg);
        -webkit-transform: rotateY(110deg);
        -o-transform: rotateY(110deg);
    }
}
@keyframes cerrar-puerta{
    0%{
        transform: rotateY(110deg);
        -webkit-transform: rotateY(110deg);
        -o-transform: rotateY(110deg);
    }
    70%{
        transform: rotateY(-20deg);
        -webkit-transform: rotateY(-20deg);
        -o-transform: rotateY(-20deg);
    }
    100%{
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }
}


.elemento{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 10px);
    height: -moz-calc(100% - 10px);
    top: 10px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.elemento div{
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    cursor: grab;
    visibility: inherit;
}
.elemento-off{
    visibility: hidden !important;
}

.elemento-label{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 98%;
    left: 1%;
    top: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: #56AAC6;
    padding: 5px;

    height: auto;
    min-height: 20px;

    font-family: 'Barlow-Medium';
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

#personaje{
    position: absolute;
    display: block;
    width: 132px;
    height: 370px;
    
    top: 9%;
    left: 36%;
}
#personaje-2{
    position: absolute;
    display: block;
    width: 132px;
    height: 370px;
    
    top: 20.5%;
    left: 11%;
}
.personaje-off{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
}
.personaje-on{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    -webkit-transition: visibility 0s, opacity 0.5s;
}

#personaje-main,#personaje-main-2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#personaje-areas{
    position: absolute;
    top: 0px;
    left: 0px;
}
#personaje-ropas,#personaje-ropas-2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.ropa{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
}
#personaje-ropas .ropa:hover{
    opacity: 0.7;
}
#personaje-ropas-2 .ropa:hover{
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    -o-filter: brightness(150%);
}
.ropa-off{
    display: none;
}
.ropa-on{
    display: block;
}

.area{
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-15px) translateY(-15px);
    -webkit-transform: translateX(-15px) translateY(-15px);
    -o-transform: translateX(-15px) translateY(-15px);
}
.area-off{
    display: none;
}
.area-on{
    display: block;
}
.area::after,
.area::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;

    animation-name: animacion-area;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-area;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.area::before{
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
@keyframes animacion-area {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
        border: #FFFFFF solid 2px;
    }
    50%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
        border: #FFFFFF solid 5px;
    }
    100%{
        transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        opacity: 0;
        border: #FFFFFF solid 1px;
    }
}

#personaje-areas div:nth-child(1){top:152px;left:62px;}
#personaje-areas div:nth-child(2){top:7px;left:62px;}
#personaje-areas div:nth-child(3){top:48px;left:87px;}
#personaje-areas div:nth-child(4){top:340px;left:62px;}
#personaje-areas div:nth-child(5){top:340px;left:97px;}
#personaje-areas div:nth-child(6){top:49px;left:62px;}
#personaje-areas div:nth-child(7){top:49px;left:62px;}
#personaje-areas div:nth-child(8){top:20px;left:62px;}
#personaje-areas div:nth-child(9){top:204px;left:20px;}
#personaje-areas div:nth-child(10){top:204px;left:109px;}
#personaje-areas div:nth-child(11){top:49px;left:62px;}
#personaje-areas div:nth-child(12){top:41px;left:62px;}
#personaje-areas div:nth-child(13){top:61px;left:62px;}
                
#menu{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    bottom: 0px;
    left: 0px;
}

.menu-left{
    display: flex;
    flex-direction: row;
}
#comprobar-btn{
    display: block;
    width: 136px;
    height: 41px;
    border-radius: 4px;
    background: #E3E829;
    background: linear-gradient(to bottom, #E3E829, #C6C62A);
    background: -webkit-linear-gradient(to bottom, #E3E829, #C6C62A);
    background: -o-linear-gradient(to bottom, #E3E829, #C6C62A);
    cursor: pointer;

    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    border: none;

    font-family: 'Barlow-Bold';
    font-size: 18px;
    color: #0033A0;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;

    transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
#comprobar-btn:hover,
#music-btn:hover,
#ayuda-btn:hover
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.3);
}

#music-btn,
#ayuda-btn{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #00AEC7;

    padding: 0px;
    margin: 2.5px 0px;
    margin-left: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    cursor: pointer;

    transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}

#ayuda-btn{
    background-image: url(../images/help-icon.svg);
}
.music-on{
    background-image: url(../images/music-on-icon.svg);
}
.music-off{
    background-image: url(../images/music-off-icon.svg);
}

.menu-right{
    display: flex;
}
#reloj{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 41px;
    box-sizing: border-box;
    margin-right: 20px;

    border-radius: 10px;
    border: #00AEC7 solid 5px;
    background-color: #000000;
}
#reloj::after{
    position: absolute;
    content: "";
    width: 55%;
    height: 6px;
    background-color: #000000;
    left: 22.5%;
    top: 100%;
    top: calc(100% + 5px);
    top: -moz-calc(100% + 5px);
    border-radius: 0px 0px 5px 5px;
}

#tiempo-txt{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'DS-DIGIB';
    font-size: 35px;
    color: #00AEC7;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

#elemento-drag{
    box-sizing: border-box;
    cursor: grabbing;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.elemento-drag-on{
    z-index: 50;
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
    visibility: visible;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, visibility 0s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, visibility 0s;
}
.elemento-drag-off{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    opacity: 0;
    visibility: hidden;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, visibility 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s, visibility 0.2s;
}

/*************MODAL*************/
#modal{
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    
    align-items: center;
    justify-content: center;
}
.modal-off{
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,0);

    transition: opacity 0.5s, background-color 0.5s, visibility 0.5s;
    -webkit-transition: opacity 0.5s, background-color 0.5s, visibility 0.5s;
}
.modal-on{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    
    transition: opacity 0.5s, background-color 0.5s, visibility 0s;
    -webkit-transition: opacity 0.5s, background-color 0.5s, visibility 0s;
}

#modal-box{
    width: 360px;
    position: relative;
    display: block;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
}
.modal-box-final{
    left: 13%;
}

#modal-title{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-bottom: 10px;

    font-family: 'FSJoey-Bold';
    font-size: 19px;
    color: #0033A0;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#modal-close-btn{
    display: block;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    position: absolute;

    background-color: #00AEC7;
    border: none;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
#modal-close-btn::after,
#modal-close-btn::before
{
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #FFFFFF;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    top: 50%;
    top: calc(50% - 1px);
    top: -moz-calc(50% - 1px);
    left: 50%;
    left: calc(50% - 7.5px);
    left: -moz-calc(50% - 7.5px);
}
#modal-close-btn::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#modal-close-btn::before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
#modal-close-btn:hover{
    background-color: #008B96;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#modal-content{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    max-height: 450px;
    overflow: auto;
}

/***********ESTILOS CONTENT DEL MODAL*************/
.modal-instrucciones-gif{
    position: relative;
    width: 100%;
    height: 162px;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F9F9F9;
    overflow: hidden;
    background-image: url(../images/instrucciones.gif);
}
.elementos-incorrectos{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.elemento-incorrecto{
    position: relative;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.elemento-incorrecto-img{
    position: relative;
    width: 50px;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
}
.elemento-incorrecto-p{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 13px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.epp-info{
    position: relative;
    display: block;
    margin: 10px 0px;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: auto;
    padding: 0px;
}
#epp-info-title{
    display: block;
    width: 100%;

    font-family: 'Barlow-SemiBold';
    font-size: 15px;
    color: #0033A0;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
#epp-info-image{
    display: block;
    width: auto;
    max-height: 100px;
    margin: 0px auto;
    padding: 0px;
    
    margin-bottom: 10px;
}
#epp-info-description{
    display: block;
    width: 100%;

    font-family: 'Barlow-Medium';
    font-size: 13px;
    color: #53565A;
    text-align: justify;
    font-weight: normal;
    line-height: normal;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

#modal-content > p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 13px;
    color: #53565A;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
}
#modal-content > p span{
    font-family: 'Barlow-Bold';
    color: #555555;
}   

#modal-content > h6{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'FSJoey-Bold';
    font-size: 14px;
    color: #0033A0;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}
#modal-button{
    position: absolute;
    display: block;
    width: 160px;
    height: 41px;
    border-radius: 4px;
    background-color: #00AEC7;
    border: none;

    font-family: 'Barlow-Bold';
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    bottom: -20px;
    left: 50%;
    left: calc(50% - 80px);
    left: -moz-calc(50% - 80px);
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);

    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
#modal-button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: #0097A3;
    cursor: pointer;
}

/**********TOOLTIP*********/
#tooltip{
    z-index: 400;
    position: absolute;
    width: 400px;
    border-radius: 0px 0px 0px 15px;
    background-color: #56AAC6;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;

    top: 13%;

    transition: right 0.4s;
    -webkit-transition: right 0.4s;
}
#tooltip::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    top: calc(50% - 6px);
    top: -moz-calc(50% - 6px);
    left: 100%;

    border-top: 6px solid rgba(0,0,0,0);
    border-bottom: 6px solid rgba(0,0,0,0);
    border-left: 7px solid #56AAC6;
}
.tooltip-off{
    right: -400px;
}
.tooltip-on{
    right: 15px;
}

#tooltip p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
#tooltip p span{
    font-family: 'Barlow-Bold';
}

/***************ALERT***************/
#alerta{
    z-index: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
}
.alerta-off{
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,0);

    transition: opacity 0.3s, background-color 0.3s, visibility 0.3s;
    -webkit-transition: opacity 0.3s, background-color 0.3s, visibility 0.3s;
}
.alerta-on{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    
    transition: opacity 0.1s, background-color 0.1s, visibility 0s;
    -webkit-transition: opacity 0.1s, background-color 0.1s, visibility 0s;
}

#alerta-box{
    z-index: 600;
    position: absolute;
    width: 200px;
    background-color: #D9DF59;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.alerta-right{
    border-radius: 0px 0px 20px 0px;
}
.alerta-right-on{
    opacity: 1;
    visibility: visible;
    transition: left 0.3s, opacity 0.3s, visibility 0s;
    -webkit-transition: left 0.3s, opacity 0.3s, visibility 0s;
}
.alerta-right-off{
    opacity: 0;
    visibility: hidden;
    transition: left 0.3s, opacity 0.3s, visibility 0.3s;
    -webkit-transition: left 0.3s, opacity 0.3s, visibility 0.3s;
}
.alerta-left{
    border-radius: 0px 0px 0px 20px;
}
.alerta-left-on{
    opacity: 1;
    visibility: visible;
    transition: right 0.3s, opacity 0.3s, visibility 0s;
    -webkit-transition: right 0.3s, opacity 0.3s, visibility 0s;
}
.alerta-left-off{
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s, opacity 0.3s, visibility 0.3s;
    -webkit-transition: right 0.3s, opacity 0.3s, visibility 0.3s;
}

#alerta-box::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    top: calc(50% - 6px);
    top: -moz-calc(50% - 6px);
}
.alerta-right::after{
    left: -7px;

    border-top: 6px solid rgba(0,0,0,0);
    border-bottom: 6px solid rgba(0,0,0,0);
    border-right: 7px solid #D9DF59;
}
.alerta-left::after{
    left: 100%;

    border-top: 6px solid rgba(0,0,0,0);
    border-bottom: 6px solid rgba(0,0,0,0);
    border-left: 7px solid #D9DF59;
}

#alerta-box p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Barlow-Medium';
    font-size: 14px;
    color: #0033A0;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
#alerta-box p span{
    font-family: 'Barlow-Bold';
}

/**************CARGADOR***************/
#cargador{
    z-index: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cargador-on{
    display: flex;
}
.cargador-off{
    display: none;
}
.cargador-img{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/cargador_v2g.gif);
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.cargador-txt{
    display: block;
    font-family: 'Barlow-Medium';
    font-size: 14px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}